<footer class="card">
  <div id="footer-hero">
    <p class="title">
      Ready to make something
      <span>Kawaii?</span>
    </p>

    <p class="text-mute footer-description">
      Whether you need an original anime opening, a game soundtrack, or a
      fresh mix for your next single, I'm here to help.
    </p>

    <button>
      <i class="bi bi-envelope"></i>
      <span>Send me a message</span>
    </button>
  </div>

  <nav id="contact-info">
    <div class="list-holder">
      <p class="link-title">Navigation</p>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Music</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>

    <div class="list-holder">
      <p class="link-title">Socials</p>
      <ul>
        <li>
          <a href="https://www.instagram.com/rollieangelito/">
            <i class="bi bi-instagram"></i>
            <span>Instagram</span>
          </a>
        </li>
        <li>
          <i class="bi bi-youtube"></i>
          <a href="https://www.youtube.com/@rolliegarcia3713">
            <span>Youtube</span>
          </a>
        </li>
        <li>
          <i class="bi bi-tiktok"></i>
          <a href="https://www.tiktok.com/@rollienthedeep">
            <span>TikTok</span>
          </a>
        </li>
        <li>
          <i class="bi bi-facebook"></i>
          <a href="https://www.facebook.com/profile.php?id=61560794757939">
            <span>Facebook</span>
          </a>
        </li>

        <li class="email">
          <i class="bi bi-google"></i>
          <span>Gmail:</span>
          <span>garciarollie827@gmail.com</span>
        </li>
      </ul>
    </div>
  </nav>
</footer>
