.header-container{
  position: static;
}

header {
  margin: 0 1rem;
  padding: 0.5rem 1rem;
  position: fixed;
  top: 0.5rem;
  left: 0;
  right: 0;
  gap: 1rem;
  display: grid;
  border-radius: 20rem;
  grid-template-columns: auto min-content;
  border: 1px solid var(--border);
  background-color: rgba(var(--primary), 0.5);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  color: var(--text);
}

.home-link {
  background-color: rgba(var(--primary), 0.5);
  font-size: 1.5rem;
  font-weight: bold;
  display: inline-block;
}

header a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  color: var(--text-muted);
}

header a i {
  color: var(--text);
}

#menu-collapse-btn, #menu-close-btn{
  display: none;
  border: none;  
  visibility: hidden;
}

header a:not(.home-link):hover {
  background-color: var(--highlight);
}

header a {
  padding: 0.5rem 0.75rem;
  border-radius: 10px;
  transition: 150ms;
}

header nav {
  gap: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@media (max-width: 600px){
  header{
    margin: 0 0.25rem;
    padding: 0.25rem 0.5rem;
    top: 0.25rem;
    left: 0;
    border-radius: 1rem;
  }

  .home-link {
    font-size: 1.25rem;
  }

  header nav {
    position: fixed;
    top: 0;
    right: 0;
    min-width: 50dvw;
    height: 100dvh;
    background-color: var(--bg);
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
    gap: 0.5rem;
    padding: 4rem 1rem;
    border: 1px solid var(--border);
    border-radius: 0.5rem;
    font-size: 1rem;
    transition: 300ms;
    transform: translateX(0);
  }

  header nav.hidden{
    transform: translateX(150%);
    opacity: 0;
  }
  header nav a {
    border: 1px solid var(--border);
  }

  #menu-collapse-btn, #menu-close-btn{
    display: block;
    visibility: visible;
  }

  #menu-collapse-btn {
    background-color: transparent;
    color: rgba(var(--primary), 0.5);
    font-size: 1.5rem;
  }

  #menu-close-btn {
    position: fixed;
    top: 1rem;
    right: 1rem;
    font-size: 1rem;
    padding: 0;
    margin: 0;
    background-color: transparent;
    color: var(--danger);
  }
}